<div class="row">
    <%- include('../partials/cards/cpu') %>
    <%- include('../partials/cards/memory') %>
    <%- include('../partials/cards/disk') %>
</div>

<div class="row mt-4">
    <div class="col-12">
        <div class="card">
            <%- include('../partials/log/filter') %>
            <div class="card-body">
                <div class="table-responsive">
                    <%- include('../partials/log/table') %>
                    <%- include('../partials/log/pagination') %>
                </div>
            </div>
        </div>
    </div>
</div>